{% do view.registerAssetBundle("Imarc\\Craft\\PasswordProtection\\assetbundles\\PageProtectionCPSectionAsset") %}

{% import "_includes/forms" as forms %}

{% set entryPass = craft.passwordProtection.findPasswordProtectionByEntry(entry.entry) %}
{% set passwordProtectionEnabled = entryPass ? entryPass.passwordProtectionEnabled : false %}
{% set password = entryPass ? entryPass.password : '' %}
{% set cookieDuration = craft.passwordProtection.getFormatedCookieDuration() %}

{{ forms.lightswitchField({
    label: 'Enable Lock Screen'|t('password-protection'),
    id: 'imarc-enabled-password-protect',
    name: 'imarc.passwordProtectionEnabled',
    on: passwordProtectionEnabled})
}}

<div id="imarc-password-field" class="field" style="display: {{ passwordProtectionEnabled ? 'block' : 'none' }}">
    <div class="heading">
        <label for="imarc.password">{{ 'Password'|t('password-protection') }}</label>
        <div class="instructions">
        <p>{{ 'Share this password with anyone who needs to access this page. We remember users for {cookieDuration}.'|t('password-protection', { cookieDuration: cookieDuration }) }}</p>
        {% if settings.defaultPassword %}
            <p>{{ '* Leave password blank to use default password.'|t('password-protection') }}</p>
        {% endif %}
    </div>
    </div>

    <div class="input">
        <input type="text" class="text" name="imarc.password" value="{{ password }}" placeholder="{{ settings.defaultPassword }}">
    </div>
</div>
